nav {
  background: var(--dark);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  backdrop-filter: blur(15px);
}

nav img {
  width: 190px;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  line-height: 80px;
}

nav ul li a {
  color: var(--light);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: var(--accent);
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

nav a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--accent);
  bottom: -5px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

nav a:hover::before {
  width: 100%;
  left: 0;
}


.menu-icon {
  display: none;
  font-size: 30px;
  color: var(--light);
  cursor: pointer;
}
.menu-close{
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #151a23;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    text-align: center;
    transition: right 0.3s ease;
    align-items: center;
    justify-content: center;
  }

  nav ul.menu-open {
    right: 0;
  }

  nav ul li {
    margin: 20px 0;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
    color: #fff;
    display: block;
    width: 100%;
  }

  .no-scroll {
    overflow: hidden;
  }

  nav ul.menu-open li {
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
    transform: translateY(20px);
  }

  nav ul.menu-open li:nth-child(1) {
    animation-delay: 0.1s;
  }

  nav ul.menu-open li:nth-child(2) {
    animation-delay: 0.2s;
  }

  nav ul.menu-open li:nth-child(3) {
    animation-delay: 0.3s;
  }

  nav ul.menu-open li:nth-child(4) {
    animation-delay: 0.4s;
  }

  nav ul.menu-open li:nth-child(5) {
    animation-delay: 0.5s;
  }

  nav ul.menu-open li:nth-child(6) {
    animation-delay: 0.6s;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


@media (max-width: 1024px) and (orientation:landscape) {
  nav ul {

    height: calc(100vh - 50px);
    justify-content: start;
  }
    nav ul li a {
   
    margin: -5px;
  }

  nav ul li {
    margin: 0;
  }
}