nav {
  background: #151A23;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav img {
  width: 190px;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  background: white;
  color: #2D3748;
  transition: 0.5s;
}

.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 640px) {
  .menu-icon {
    display: block;
  }

  nav ul {
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background: #2c3e50;
    text-align: center;
    transition: right 0.3s ease;
  }

  nav ul.menu-open {
    right: 0;
  }

  nav ul li {
    margin: 20px 0;
    line-height: 40px;
  }

  nav ul li a {
    font-size: 20px;
  }
}
