/*Fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;

}

/************Common styles********************/

.upperCase {
  text-transform: uppercase;
}

section {
  min-height: 100vh;
}

.projects-section,
.education,
.contact {
  padding: 70px 30px 0 30px;
}

/*No estoy seguro de esta implementacion, es para que el link de la navbar lleve al titulo de la seccion y sea bien visible*/
.section-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #151A23;
}


/************Common styles********************/


/***********HOME SECTION***************/
.home {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  /* margin-bottom: -100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stack-logo-container figure {
  width: 30px;
  height: 30px;
}

/***********ABOUT ME SECTION***************/
.about strong {
  color: rgb(234 179 8);
}

.about img {
  width: 50px;
  height: 50px;
}

/***************TECHNOLOGIES SECTION*****************/


/***************PROJECTS SECTION*****************/
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  gap: 20px;
}


/***************EDUCATION SECTION*****************/


/***************CONTACT SECTION*****************/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/***************FOOTER SECTION*****************/
.footer {
  margin-top: 20px;
}

/**************MEDIA QUERIES*****************/
@media (max-width: 400px) {

  /*Sm-Mobile*/
  .home img {
    width: 50vw;
  }

  .contact {
    flex-direction: column;
  }
}

@media (max-width: 640px) {

  /*Mobile*/
  .checkbtn {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #2c3e50;
    top: 80px;
    top: -100%;
    text-align: center;
    transition: all .5s;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked~ul {
    top: 80px;
  }
  .home {
    flex-direction: column;
  }
  .home img {
    width: 50vw;
  }
  .about {
    padding: 20px 20px 20px 20px;
  }
  .frame {
    width: 40vw;
    height: 40vw;
    max-width: 300px;
    max-height: 300px;
  }
  .contact {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  /*Tablet*/

  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0
  }
  .home img {
    width: 30vh;
  }
  .contact {
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  /*Laptop medium*/

  .home img {
    width: 40vh;
  }
  .education {
    margin: 0 100px;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {

  /*Laptop large*/
  .home img {
    width: 40vh;
  }
  .frame {
    width: 50vW;
    height: 50vw;
  }
  .education {
    margin: 0 300px;
  }
}
