/*Fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: "Poppins", sans-serif;
    background-color: #1A202C;

  }

    /************Common styles********************/
    section {
      background-size: cover;
      height: calc(100vh - 80px);
      color: white;
    }
  
    .upperCase {
      text-transform: uppercase;
    }
  
    .section-title {
      font-size: 50px;
      text-align: center;
      font-weight: bold;
    }
  
    .about,
    .technologies {
      padding: 20px 100px 20px 100px;
      display: grid;
      place-items: center;
  
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  
    .custom-pointer,
    button:hover,
    a:hover {
      cursor: url('./img/icons8-cursor-64.png'), auto;
    }
  /************Common styles********************/



   /***********HOME SECTION***************/
.home {
  position: relative;
  overflow: hidden;
  padding-top:80px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.home-text-container{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  width: 50%;
  /* margin: 0 0 0 80px; */
  margin-right: 20px;
  
}
.home-text-container h1{
  font-family: 'Sixtyfour', sans-serif;
  /* font-size: 35px; */
  font-size: 2.188em;
  font-weight: 400;
  margin: 20px 0;
  color:#548DBF ;
  animation: fadeIn 3s ease;

}

.home-text-container h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: white;
}


.home-img-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 20px 180px;
  
 
}
.frame {
  width: 20vw; /* 50% del ancho de la ventana */
  height: 20vw;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray; 
  margin: auto; 

  border: 5px solid #151A23;
  
}

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%);
  mix-blend-mode: multiply;
  filter: grayscale(100%);
}


.home-buttons-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.home button{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 120px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #FFFFFF;
  background-color: #151A23;
  height: 48px;

}
.home button:hover{
  color: white;
  background-color: #548DBF ;
}

   /***********HOME SECTION***************/

/***************ABOUT SECTION*****************/
.about{
  background: linear-gradient(180deg,#151A23, #192C3A);
  /* background-color: red; */
}
.text-about{
  max-width: 50%;

}
 
/***************ABOUT SECTION*****************/

/***************TECHNOLOGIES SECTION*****************/
.technologies{
  height: 100vh;
}
.technologies h2{
  font-weight: lighter;
  color:#548DBF;
  font-size: 40px;
}
.tech-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  width: 60%;
}
.tech-container figure figcaption {
  text-align: center;

}
.technologies img, .technologies svg {
  width: 100px;
  height: 100px;
  filter: drop-shadow(
    0 0 10px #ffffff63
  );
}


/***************TECHNOLOGIES SECTION*****************/

/***************PROJECT SECTION*****************/

/***************PROJECT SECTION*****************/


/**************MEDIA QUERIES*****************/
@media (max-width: 400px){/*Sm-Mobile*/
  .home img{
    width: 50vw;
  }
  .home-text-container{
    margin-top: 15px ;
  }
  .home-buttons-container{
    margin-top: 15px;
  }

}
@media (max-width: 640px){/*Mobile*/
  .checkbtn{
    display: block;
  }
  ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #2c3e50;
    top: 80px;
    top: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{

    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    top: 80px;
  }
  .home {
    flex-direction: column-reverse;
 
  }
  .home-text-container{
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
  }
  .home-img-container{
    width: 100%;
    text-align: center;
  }
  .home img{
    width: 50vw;
  }
  .home-buttons-container{
    margin-top: 4vh;
  }

  .about,.technologies{
    padding: 20px 20px 20px 20px;

    }
    .technologies img, .technologies svg {
      width: 60px;
      height: 60px;
    }
    figure figcaption{
      /* display: none; */
      color: #ccd8e065;
    }
    .technologies{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .technologies h2{
      font-size: 25px;
    }
    .tech-container{
      width: 75%;
    }
    .frame {
      width: 40vw; /* 50% del ancho de la ventana */
      height: 40vw; /* 50% del ancho de la ventana, para mantenerlo cuadrado */
      max-width: 300px; /* Tamaño máximo del marco */
      max-height: 300px; /* Tamaño máximo del marco */

    }

}
@media (max-width: 1024px) {/*Tablet*/


  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home img{
    width: 30vh;
  }

  .home-buttons-container {
    margin-top: 4vh;
  }

  .home-text-container {
    text-align: center;
    margin: 0;
  }
  .about,.technologies{
    padding: 20px 10px 20px 10px;

    }
}

  @media (min-width: 1024px) and (max-width: 1366px){/*Laptop medium*/
    .home-text-container {
      height: 85%;
      justify-content: space-around;
      padding-top: 50px;
      padding-bottom: 80px;
    }
    .home-text-container h1{
      font-size: 45px;
    }
    .home-text-container h3{
      font-size: 35px;
    }
    .home img{
      width: 40vh;
    }
    .home-text-container :first-child {
      text-align: start;
    }
    .home-text-container :nth-child(2) {
      text-align: center;
    }
    .home-text-container :last-child {
      text-align: end;
    }

  }

  @media (min-width: 1367px) and (max-width: 1920px){/*Laptop large*/
    .home img{
      width: 40vh;
    }
    .home-text-container {
      height: 85%;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 90px;
    }
    .home-text-container h1{
      font-size: 65px;
    }
    .home-text-container h3{
      font-size: 55px;
    }
    .home-text-container :first-child {
      text-align: start;
    }
    .home-text-container :nth-child(2) {
      text-align: center;
    }
    .home-text-container :last-child {
      text-align: end;
    }
    .frame{
      width: 50vW;
      height: 50vw;
    }
  }
  /**************MEDIA QUERIES*****************/

